@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light:100,400,700,900&display=swap");
.sheet-container label {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sheet-container input,
.sheet-container textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
  line-height: 24px;
}
.sheet-container textarea {
  background-image: url("https://github.com/MarkRivera/CoyoteAndCrow/blob/main/imgs/textarea-background.png?raw=true");
}

.sheet-hand-written {
  font-weight: 600;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
  line-height: 24px;
}

.sheet-container {
  position: relative;
  background-image: url("https://github.com/MarkRivera/CoyoteAndCrow/blob/main/imgs/sheet-background-translucid.png?raw=true");
  background-position: center top 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.sheet-container:before, .sheet-container:after {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: 2;
  width: 652px;
  height: 628px;
  background-image: url("https://github.com/MarkRivera/CoyoteAndCrow/blob/main/imgs/sheet-border.png?raw=true");
  content: "";
  pointer-events: none;
}
.sheet-container:after {
  top: auto;
  right: -30px;
  bottom: -30px;
  left: auto;
  transform: rotate(180deg);
}

.sheet-grid-container {
  display: grid;
}

.sheet-grid-header {
  display: inline-block;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  font-weight: 900;
}

.sheet-multi-line-input {
  position: relative;
  min-height: 25px;
}
.sheet-multi-line-input textarea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  min-height: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  resize: none;
}
.sheet-multi-line-input textarea:focus {
  overflow: scroll-y;
  opacity: 1;
}
.sheet-multi-line-input textarea:focus + span {
  opacity: 0;
}
.sheet-multi-line-input span {
  position: relative;
  z-index: 1;
  display: block;
  background-image: url("https://github.com/MarkRivera/CoyoteAndCrow/blob/main/imgs/textarea-background.png?raw=true");
  white-space: pre-wrap;
  font-weight: 600;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
  line-height: 24px;
}
.sheet-multi-line-input input:not([value]) + textarea,
.sheet-multi-line-input input[value=""] + textarea {
  overflow: hidden;
  opacity: 1;
}
.sheet-multi-line-input input:not([value]) + textarea + span,
.sheet-multi-line-input input[value=""] + textarea + span {
  opacity: 0;
}

.sheet-bio {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 10px solid #9655a2;
}
.sheet-bio .sheet-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
}
.sheet-bio label {
  margin-top: 20px;
}
.sheet-bio > label[for=character_name],
.sheet-bio > .sheet-grid-container {
  width: calc(100% - 270px);
}
.sheet-bio > label[for=character_name],
.sheet-bio > .sheet-grid-container label {
  display: flex;
  align-items: center;
}
.sheet-bio > label[for=character_name] div,
.sheet-bio > .sheet-grid-container label div {
  flex-grow: 1;
}
.sheet-bio > label[for=character_name] div input,
.sheet-bio > .sheet-grid-container label div input {
  padding-left: 5px;
}
.sheet-bio > .sheet-grid-container {
  grid-column-gap: 10px;
}
.sheet-bio input {
  border-bottom: 1px solid black;
}
.sheet-bio .sheet-grid-container {
  grid-template-columns: 1fr 1fr;
}

.sheet-details {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 280px;
}
.sheet-details .sheet-col-left > label, .sheet-details .sheet-col-right > label {
  margin-top: 20px;
}
.sheet-details label[for=initative-score], .sheet-details label[for=legendary-rank] {
  display: flex;
  align-items: center;
}
.sheet-details label[for=initative-score] span, .sheet-details label[for=legendary-rank] span {
  white-space: nowrap;
}
.sheet-details label[for=initative-score] div, .sheet-details label[for=legendary-rank] div {
  flex-grow: 1;
}
.sheet-details label[for=initative-score] div input, .sheet-details label[for=legendary-rank] div input {
  padding-left: 5px;
  border-bottom: 1px solid #000;
}
.sheet-details .sheet-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
}
.sheet-details .sheet-stats,
.sheet-details .sheet-derived-stats {
  border: 1px solid black;
  background: black;
  grid-gap: 1px;
  mix-blend-mode: multiply;
}
.sheet-details .sheet-stats label,
.sheet-details .sheet-derived-stats label {
  display: grid;
  align-items: center;
  background: black;
  grid-template-columns: 1fr 50px;
  grid-gap: 1px;
}
.sheet-details .sheet-stats label span,
.sheet-details .sheet-stats label input,
.sheet-details .sheet-derived-stats label span,
.sheet-details .sheet-derived-stats label input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: white;
  line-height: 40px;
}
.sheet-details .sheet-stats label span,
.sheet-details .sheet-derived-stats label span {
  padding-left: 5px;
}
.sheet-details .sheet-stats label input,
.sheet-details .sheet-derived-stats label input {
  text-align: center;
}
.sheet-details .sheet-derived-stats label span {
  background: black;
  color: white;
}

.sheet-skills {
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid #000;
}
.sheet-skills span, .sheet-skills input {
  height: 30px;
  background-color: white;
  line-height: 30px;
}
.sheet-skills span {
  padding-left: 5px;
}
.sheet-skills input:not([name=attr_name]) {
  text-align: center;
}
.sheet-skills input[name=attr_name] {
  padding-left: 5px;
}
.sheet-skills .sheet-grid-container {
  align-items: start;
  background-color: #000;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}
.sheet-skills .sheet-grid-container .sheet-grid-container {
  grid-template-columns: 1fr 50px 50px 50px;
}
.sheet-skills .sheet-grid-container .sheet-col-right {
  position: relative;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer {
  grid-column: 1/5;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer .repitem {
  display: grid;
  background: black;
  grid-template-columns: 1fr 50px 50px 50px;
  grid-gap: 1px;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer .repitem:not(:first-child) {
  border-top: 1px solid black;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer .repitem:last-child {
  border-bottom: 1px solid black;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontrol {
  position: absolute;
  bottom: -501px;
  left: 0;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  width: 100%;
  height: 500px;
  background: white;
}

@media screen and (min-width: 561px) and (max-width: 800px) {
  .sheet-skills {
    padding-bottom: 50px;
  }

  .sheet-skills > .sheet-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .sheet-skills > .sheet-grid-container .sheet-col-right {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 561px) {
  .sheet-bio {
    padding-top: 85px;
  }
  .sheet-bio .sheet-logo {
    right: calc(50% - 130px);
  }
  .sheet-bio > label[for=character_name],
.sheet-bio > .sheet-grid-container {
    width: 100%;
  }

  .sheet-details {
    grid-template-columns: 1fr;
  }

  .sheet-skills {
    padding-bottom: 50px;
  }

  .sheet-skills > .sheet-grid-container {
    grid-template-columns: 1fr;
  }
}