.sheet-container label {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sheet-container input,
.sheet-container textarea {
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
}

.sheet-grid-container {
  display: grid;
}

.sheet-grid-header {
  height: 20px;
  font-weight: bold;
}

.sheet-multi-line-input {
  min-height: 25px;
  position: relative;
}
.sheet-multi-line-input textarea {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  min-height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.sheet-multi-line-input textarea:focus {
  opacity: 1;
}
.sheet-multi-line-input textarea:focus + span {
  opacity: 0;
}
.sheet-multi-line-input span {
  white-space: pre-wrap;
  position: relative;
  z-index: 1;
}

.sheet-bio input {
  border-bottom: 1px solid black;
}
.sheet-bio .sheet-grid-container {
  grid-template-columns: 1fr 1fr;
}

.sheet-details {
  display: grid;
  grid-template-columns: 1fr 280px;
  column-gap: 15px;
}
.sheet-details .sheet-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
}
.sheet-details .sheet-stats,
.sheet-details .sheet-derived-stats {
  background: black;
  border: 1px solid black;
  grid-gap: 1px;
}
.sheet-details .sheet-stats label,
.sheet-details .sheet-derived-stats label {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-gap: 1px;
  background: black;
}
.sheet-details .sheet-stats label span,
.sheet-details .sheet-stats label input,
.sheet-details .sheet-derived-stats label span,
.sheet-details .sheet-derived-stats label input {
  background: white;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
.sheet-details .sheet-stats label span,
.sheet-details .sheet-derived-stats label span {
  padding-left: 5px;
}
.sheet-details .sheet-derived-stats label span {
  background: black;
  color: white;
}

.sheet-skills .sheet-grid-container {
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
}
.sheet-skills .sheet-grid-container .sheet-grid-container {
  grid-template-columns: 1fr 50px 50px 50px;
}
.sheet-skills .sheet-grid-container .sheet-col-right {
  position: relative;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer {
  grid-column: 1/5;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontainer .repitem {
  display: grid;
  grid-template-columns: 1fr 50px 50px 50px;
}
.sheet-skills .sheet-grid-container .sheet-col-right .repcontrol {
  bottom: -20px;
  position: absolute;
}