@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light:100,400,700,900&display=swap')

//Disabling roll20 default styles
.sheet-container
  label
    box-sizing: border-box
    margin: 0
    padding: 0

  input,
  textarea
    border: 0
    border-radius: 0
    box-sizing: border-box
    font-family: 'Shadows Into Light', cursive
    font-weight: 600
    font-size: 20px
    width: 100%

.sheet-grid-container
  display: grid

.sheet-grid-header
  height: 20px
  font-weight: bold

.sheet-multi-line-input
  min-height: 25px
  position: relative
  textarea
    box-sizing: border-box
    height: 100%
    left: 0
    min-height: 25px
    opacity: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 2
    &:focus
      opacity: 1
      + span 
        opacity: 0
  span
    white-space: pre-wrap
    position: relative
    z-index: 1

.sheet-bio
  input
    border-bottom: 1px solid black
  .sheet-grid-container
    grid-template-columns: 1fr 1fr

.sheet-details
  display: grid
  grid-template-columns: 1fr 280px
  column-gap: 15px
  .sheet-grid-container
    grid-template-columns: 1fr 1fr 1fr
  .sheet-stats,
  .sheet-derived-stats
    background: black
    border: 1px solid black
    grid-gap: 1px
    label
      align-items: center
      display: grid
      grid-template-columns: 1fr 50px
      grid-gap: 1px
      background: black
      span,
      input
        background: white
        box-sizing: border-box
        display: inline-block
        height: 40px
        line-height: 40px
        width: 100%
      span
        padding-left: 5px
      input
        text-align: center

  .sheet-derived-stats label span
    background: black
    color: white

.sheet-skills
  .sheet-grid-container
    align-items: start
    grid-template-columns: 1fr 1fr 1fr
    .sheet-grid-container
      grid-template-columns: 1fr 50px 50px 50px
    .sheet-col-right
      position: relative
      .repcontainer
        grid-column: 1/5
        .repitem
          display: grid
          grid-template-columns: 1fr 50px 50px 50px
      .repcontrol
        bottom: -20px
        position: absolute
      