.sheet-multi-line-input
  //TODO: Implement same font for both editing and viewing mode.
  //TODO: Handle empty field (we probably want to show the textarea by default in this case)
  min-height: 25px
  position: relative
  textarea
    box-sizing: border-box
    height: 100%
    left: 0
    min-height: 25px
    opacity: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 2
    &:focus
      opacity: 1
      + span 
        opacity: 0
  span
    white-space: pre-wrap
    position: relative
    z-index: 1

.sheet-bio
  .sheet-grid-container
    display: grid
    grid-template-columns: 1fr 1fr